<header id="header">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-extended="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        <a class="navbar-brand" [routerLink]="['/']">

        </a>
        </div>

        <div class="collapse navbar-collapse" id="menuhor">
          <ul id="boton">
            <li>
                <a [routerLink]="['/']">
                  <img src="./assets/img/Boton.jpeg" id="Boton" width="30" height="20" />
                   <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                   Home
                </a>
            </li>

            <li>
                <a [routerLink]="['/especies']">
                   Especies
                </a>
            </li>

            <li>
                <a [routerLink]="['/naves']">
                   Naves
                </a>
            </li>

            <li>
                <a [routerLink]="['/peliculas']">
                   Peliculas
                </a>
            </li>

            <li>
                <a [routerLink]="['/personajes']">
                   Personajes
                </a>
            </li>

            <li>
                <a [routerLink]="['/planetas']">
                   Planetas
                </a>
            </li>

            <li>
                <a [routerLink]="['/vehiculos']">

                   Vehiculos
                </a>
            </li>

            <li>

            <div class="form-group col-md-10">
              <input type="text" class="form-control" placeholder="¿Que Buscas?" name="searchString" [(ngModel)]="searchString"/>
          </div>
          <button type="submit" class="btn btn-default btn-search" (click)="search();">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              Buscar
          </button>
          </li>

          </ul>
        </div>
    </div>
</header>
