

.navigation li a {
  background:
  #E2E2E2 url(src/assets/Imagen-Fondo.png)
  repeat-x left center;
  padding:20px;
  display:block;
  font-family: Arial, Helvetica, sans-serif;
  color:#333;
  font-size:18px;
  text-decoration:none

}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

/* hover effects */
.navigation li a:hover, .navigation li a:focus{
  background: transparent none;
}
img{
  display:block;
  margin:auto;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
